.contact-container {
  width: 100%;
  padding-bottom: 3rem;
  min-height: 100vh;
}
.Page-top {
  width: 100%;
  height: 60vh;
  background: url("../../assets/Banner/banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--wheat);
  font-size: 1.5rem;
}
.contact-details h4 {
  color: var(--darkred);
  text-transform: uppercase;
  text-align: center;
  /* text-decoration: underline; */
}
.contact-details {
  text-align: center;
}
.contact-details h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
.contact-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid; */
  padding: 2rem 0;
}
.contact-info {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--darkblue);
  font-weight: 600;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 1px 1px var(--darkblue);
}
.contact-info .icon {
  background-color: var(--darkblue);
  color: var(--white);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}
.contact-details a {
  text-decoration: underline;
  color: var(--darkblue);
}
.contact-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 2rem 0;
}
.contact-form button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  background-color: var(--darkblue);
  color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--darkblue);
  margin: 1rem 0;
  text-transform: uppercase;
}
.contact-form input {
  height: 2.5rem;
  width: 25rem;
  border: 1px solid var(--darkblue);
  border-radius: 8px;
  font-family: inherit;
  font-size: 1.2rem;
  /* padding-left: 5px; */
  padding: 5px;
}
.contact-form textarea {
  width: 25rem;
  height: 8rem;
  border-radius: 8px;
  border: 1px solid var(--darkblue);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px;
}
.contact-map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-map{
    width:49rem;
    height: 20rem;
}
@media (max-width: 768px) {
  .contact-information {
    flex-direction: column-reverse;
    gap: 3rem;
    padding: 2rem 0;
  }
  .contact-form textarea {
    width: 15rem;
    height: 8rem;
  }
  .contact-form input {
    height: 2.5rem;
    width: 15rem;
  }
  .contact-map {
    width: 80%;
    /* width: 16rem; */
    height: 16rem;
  }
}
