.HSWrapper {
  width: 100%;
  min-height: 50vh;
  text-align: center;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hshead {
  font-size: 2rem;
  text-transform: capitalize;
  padding-top: 1rem;
}
.HomeServices-container {
  padding: 3rem 0;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.serviceCard {
  display: flex;
  flex-direction: column;
  width: 11rem;

  height: 15rem;
  /* border: 1px solid; */
  box-shadow: 0.5px 0.5px 1px 1px var(--lightblue);
  padding: 1.5rem;
  border-radius: 8px;
  border-bottom: 4px solid var(--blue);
  gap: 8px;
  color: var(--black);
  background-color: #fff;
}
.icon-service {
  font-size: 3.5rem;
}
.servicename {
  font-size: 1.2rem;
}
.servicedetails {
  font-size: 0.8rem;
}
.icon-service {
  color: var(--blue);
}
.serviceCard:hover  .icon-service {
  color: #fff;
}
.serviceCard:hover {
  background-color: var(--blue);
  color: #fff;
  transition-duration: 0.5s;
  cursor: pointer;
  /* border-color: #fff; */
}
.para-why {
  width: 80%;
  color: var(--black);
}
.service-enquiry-btn {
  width: 10rem;
  height: 2rem;
  font-family: inherit;
  background-color: var(--blue);
  border-color: var(--blue);
  outline-color: var(--blue);
  color: var(--lightblue);
  cursor: pointer;
}
@media (max-width: 768px) {
  .para-why {
    width: 97%;
  }
}
